@font-face{font-family:'OpenSans';src:url('OpenSans.eot?') format('eot'),
url('OpenSans.woff') format('woff'),
url('OpenSans.ttf') format('truetype'),
url('OpenSans.svg#OpenSans') format('svg');}
@font-face{font-family:'OpenSans-Light';src:url('OpenSans-Light.eot?') format('eot'),
url('OpenSans-Light.woff') format('woff'),
url('OpenSans-Light.ttf') format('truetype'),
url('OpenSans-Light.svg#OpenSans-Light') format('svg');}
@font-face{font-family:'OpenSans-Semibold';src:url('OpenSans-Semibold.eot?') format('eot'),
url('OpenSans-Semibold.woff') format('woff'),
url('OpenSans-Semibold.ttf') format('truetype'),
url('OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');}
@font-face{font-family:'OpenSans-Bold';src:url('OpenSans-Bold.eot?') format('eot'),
url('OpenSans-Bold.woff') format('woff'),
url('OpenSans-Bold.ttf') format('truetype'),
url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');}
@font-face{font-family:'OpenSans-ExtraBold';src:url('OpenSans-ExtraBold.woff2') format('woff2'),
url('OpenSans-ExtraBold.woff') format('woff');}